<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE en-note SYSTEM 'http://xml.evernote.com/pub/enml2.dtd'>
<en-note>
  <% unless @twitter.nil? || @twitter.empty? %>
    <h1># Twitter</h1>
    <ul>
      <% @twitter.each do |t| %>
        <li><%= t.tweet %> (<%= t.created_at %>)</li>
      <% end %>
    </ul>
  <% end %>

  <% unless @hatena.nil? || @hatena.empty? %>
    <h1># Hatena Bookmark</h1>
    <ul>
      <% @hatena.each do |h| %>
        <li><a href="<%= h.link %>"><%= h.title %></a></li>
      <% end %>
    </ul>
  <% end %>

  <% unless @github.nil? || @github.empty? %>
    <h1># Github</h1>
    <ul>
      <% @github.each do |g| %>
        <li><%= g.repo_name %></li>
        <% g.commits.each do |commit| %>
          <ul>
            <li><a href="<%= commit.url %>"><%= commit.message %></a></li>
          </ul>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <% unless @moves.nil? || @moves.empty? %>
    <h1># Moves</h1>
    <h2>## Summary</h2>
    <ul>
      <li>Walk: <%= @moves[:summary].walk %>km</li>
      <li>Cycle: <%= @moves[:summary].cycle %>km</li>
      <li>Transport: <%= @moves[:summary].transport %>km</li>
      <li><%= @moves[:summary].cal %>cal</li>
    </ul>
    <h2>## Detail</h2>
    <% @moves[:storyline].each do |story| %>
      <% if story.name === 'place' %>
        <h3><%= story.screen_name %></h3>
      <% elsif story.name === 'move' %>
        <% story.to_a.each do |s| %>
          <ul>
            <li><%= s.action %></li>
            <li><%= "#{s.start_time}~#{s.end_time}(#{s.duration}min)" %></li>
            <li><%= s.distance %>km</li>
          </ul>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

</en-note>
