<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE en-note SYSTEM 'http://xml.evernote.com/pub/enml2.dtd'>
<en-note>
  <% unless @twitter.nil? || @twitter.empty? %>
    <h1># Twitter</h1>
    <ul>
      <% @twitter.each do |t| %>
        <li><%= t.tweet %></li>
      <% end %>
    </ul>
  <% end %>

  <h1># Hatena Bookmark</h1>
  <ul>
    <% @hatena.each do |h| %>
      <li><a href="<%= h['link'] %>"><%= h['title'] %></a></li>
    <% end %>
  </ul>

  <h1># Github</h1>
  <ul>
    <% @github.each do |g| %>
      <li><%= g[:repo] %></li>
      <% g[:commits].each do |commit| %>
        <ul>
          <li><a href="<%= commit[:url] %>"><%= commit[:message] %></a></li>
        </ul>
      <% end %>
    <% end %>
  </ul>

  <h1># Moves</h1>
  <h2>## Summary</h2>
  <ul>
    <li>Walk: <%= @moves['summary']['walk'] %>km</li>
    <li>Cycle: <%= @moves['summary']['cycle'] %>km</li>
    <li>Transport: <%= @moves['summary']['transport'] %>km</li>
    <li><%= @moves['summary']['cal'] %>cal</li>
  </ul>
  <h2>## Detail</h2>
  <% @moves['activity'].each do |act| %>
    <h3><%= act['place'] %></h3>
    <% if act['move'].instance_of?(Array) %>
      <% act['move'].each do |m| %>
        <ul>
          <li><%= m['action'] %></li>
          <li><%= m['time'] %></li>
          <li><%= m['distance'] %>km</li>
        </ul>
      <% end %>
    <% end %>
  <% end %>

</en-note>
